<div class="container">
  <footer class="footer">
  <small>
    <a href="http://railstutorial.org/">DTE</a>
    by Tecnical Solution Center.
  </small>
  <nav>
    <ul>
      <li><%= link_to "Acerca",   '#' %></li>
      <li><%= link_to "Contacto", '#' %></li>
      <li><a href="">DTE</a></li>
    </ul>
  </nav>
  </footer>
</div>



